<div class="page-wrapper">
    <div class="content">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="routes.schedule">Docteur Disponibilitées</a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">Modifier Disponibilité</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        <div class="row">
            <div class="col-sm-12">

                <div class="card">
                    <div class="card-body">
                        <form [formGroup]="disponibiliteForm">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-heading">
                                        <h4>Modifier Disponibilité</h4>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-xl-4">
                                  <div class="form-group local-forms">
                                      <label for="Available"> Jours  <span class="login-danger">*</span></label>
                                      <input class="form-control datetimepicker" type="text" formControlName="jour" placeholder="Sélectionner le jour" required>

                                  </div>
                              </div>
                              <div class="col-12 col-md-6 col-xl-4">
                                  <div class="form-group local-forms">
                                      <label for="Available">De <span class="login-danger">*</span></label>
                                      <div class="time-icon">
                                        <input type="time" id="heureFin" formControlName="heureDebut"  class="form-control" required>
                                    </div>
                                  </div>
                              </div>
                              <div class="col-12 col-md-6 col-xl-4">
                                <div class="form-group local-forms">
                                  <label for="heureFin">Jusqu'a <span class="login-danger">*</span></label>
                                  <div class="time-icon">
                                      <input type="time" id="heureFin" formControlName="heureFin"  class="form-control" required>
                                  </div>
                                </div>
                              </div>

                                <div class="col-12">
                                    <div class="doctor-submit text-end">
                                        <button (click)="updateDisponibilite()" class="btn btn-primary submit-form me-2">Modifier disponibilite</button>
                                        <button type="submit" class="btn btn-primary cancel-form">Annuler</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
