<div class="page-wrapper">
    <div class="content">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="routes.doctorsList">Doctors </a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">Docteurs Profile</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="about-info">
                                    <h4>Doctor Profile  <span><a href="javascript:;"><i class="feather icon-more-vertical"></i></a></span></h4>
                                </div>
                                <div class="doctor-profile-head">
                                    <div class="profile-bg-img">
                                        <img [src]="medecin.image" style="width: 1340px; height: 318px;"  alt="Profile">
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4">
                                            <div class="profile-user-box">
                                                <div class="profile-user-img">
                                                    <img  [src]="medecin.image"  alt="Profile">
                                                    <div class="form-group doctor-up-files profile-edit-icon mb-0">
                                                        <div class="uplod d-flex">
                                                            <label class="file-upload profile-upbtn mb-0">
                                                                <img  src="assets/img/icons/camera-icon.svg"  alt="Profile"><input type="file">
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="names-profiles">
                                                    <h4> {{medecin.firstName}} {{medecin.lastName}} </h4>
                                                    <h5>Senior Doctor</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 d-flex align-items-center">
                                            <div class="follow-group">
                                                <div class="doctor-follows">
                                                    <h5>Abonnées</h5>
                                                    <h4>850</h4>
                                                </div>
                                                <div class="doctor-follows">
                                                    <h5>Abonnement</h5>
                                                    <h4>18K</h4>
                                                </div>
                                                <div class="doctor-follows">
                                                    <h5>Articles</h5>
                                                    <h4>250</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 d-flex align-items-center">
                                            <div class="follow-btn-group">
                                                <button  *ngIf="role=='patient'" class="btn btn-info follow-btns"
                                                data-bs-toggle="modal" data-bs-target="#addrendezvous"
                                                >Demander Rendez Vous</button>
                                                <button
                                                (click)="goToChat(medecin.id)" class="btn btn-info message-btns">Message
                                                </button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="doctor-personals-grp">
                            <div class="card">
                                <div class="card-body">
                                    <div class="heading-detail ">
                                        <h4 class="mb-3">A propos de moi</h4>
                                        <p>Bonjour, je suis le Dr Bruce Willis, gynécologue à l'hôpital Sanjivni de Surat. J'aime travailler avec tout le personnel de l'hôpital ainsi qu'avec les médecins seniors.</p>
                                    </div>
                                    <div class="about-me-list">
                                        <ul class="list-space">
                                            <li>
                                                <h4>Genre</h4>
                                                <span>Féminin</span>
                                            </li>
                                            <li>
                                                <h4> Opération effectuée</h4>
                                                <span>30+</span>
                                            </li>
                                            <li>
                                                <h4>Désignation</h4>
                                                <span>Sr. Doctor</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="doctor-personals-grp">
                            <div class="card">
                                <div class="card-body">
                                    <div class="heading-detail">
                                        <h4>Compétences:</h4>
                                    </div>
                                    <div class="skill-blk">
                                        <div class="skill-statistics">
                                            <div class="skills-head">
                                                <h5>Operations</h5>
                                                <p>45%</p>
                                            </div>
                                            <div class="progress mb-0"  >
                                                <div class="progress-bar bg-operations" role="progressbar" style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div class="skill-statistics">
                                            <div class="skills-head">
                                                <h5>Patient Care</h5>
                                                <p>85%</p>
                                            </div>
                                            <div class="progress mb-0"  >
                                                <div class="progress-bar bg-statistics" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div class="skill-statistics">
                                            <div class="skills-head">
                                                <h5>Endoscopic </h5>
                                                <p>65%</p>
                                            </div>
                                            <div class="progress mb-0"  >
                                                <div class="progress-bar bg-endoscopic" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div class="skill-statistics">
                                            <div class="skills-head">
                                                <h5>Visite du patient </h5>
                                                <p>90%</p>
                                            </div>
                                            <div class="progress mb-0"  >
                                                <div class="progress-bar bg-visit" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="doctor-personals-grp">
                            <div class="card">
                                <div class="card-body">
                                    <div class="heading-detail">
                                        <h4>Speciality</h4>
                                    </div>
                                    <div class="personal-activity">
                                        <div class="personal-icons status-grey">
                                            <img src="assets/img/icons/medal-01.svg" alt="">
                                        </div>
                                        <div class="views-personal">
                                            <h4>Proffesionals</h4>
                                            <h5>Soin dermatologique certifié</h5>
                                        </div>
                                    </div>
                                    <div class="personal-activity">
                                        <div class="personal-icons status-green">
                                            <img src="assets/img/icons/medal-02.svg" alt="">
                                        </div>
                                        <div class="views-personal">
                                            <h4>Certifié</h4>
                                            <h5>Opération au laser froid</h5>
                                        </div>
                                    </div>
                                    <div class="personal-activity mb-0">
                                        <div class="personal-icons status-orange">
                                            <img src="assets/img/icons/medal-03.svg" alt="">
                                        </div>
                                        <div class="views-personal">
                                            <h4>Médication par laser</h4>
                                            <h5>Produit anti-chute de cheveux</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="doctor-personals-grp">
                            <div class="card">
                                <div class="card-body">
                                    <div class="tab-content-set">
                                        <ul class="nav">
                                            <li>
                                                <a [routerLink]="routes.doctorProfile" class="active"><span class="set-about-icon me-2"><img src="assets/img/icons/menu-icon-02.svg" alt=""></span>À Propos de Moi</a>
                                            </li>
                                            <li>
                                                <a (click)="goToSettings()"><span class="set-about-icon me-2"><img src="assets/img/icons/menu-icon-16.svg" alt=""></span>Paramétres</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="personal-list-out">
                                        <div class="row">
                                            <div class="col-xl-3 col-md-6">
                                                <div class="detail-personal">
                                                    <h2>  nom:</h2>
                                                    <h3>{{medecin.firstName}} {{medecin.lastName}}</h3>
                                                </div>
                                            </div>
                                            <div class="col-xl-3 col-md-6">
                                                <div class="detail-personal">
                                                    <h2>Télephone </h2>
                                                    <h3> {{medecin.phone}} </h3>
                                                </div>
                                            </div>
                                            <div class="col-xl-3 col-md-6">
                                                <div class="detail-personal">
                                                    <h2>Email</h2>
                                                    <h3> {{medecin.email}} </h3>
                                                </div>
                                            </div>
                                            <div class="col-xl-3 col-md-6">
                                                <div class="detail-personal">
                                                    <h2>Adresse</h2>
                                                    <h3> {{medecin.adress}} </h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hello-park">
                                        <p>J'ai terminé mes études en médecine gynécologique à la célèbre et renommée institution indienne  le Sardar Patel Medical College de Baroda en 2000-2001, affiliée à l'Université M.S. J'ai été classé parmi les meilleurs lors des examens universitaires de cette même université entre 1996 et 2001.</p>
                                        <p>J'ai travaillé comme professeur et chef du département de médecine communautaire à l'hôpital Sterline, Rajkot, Gujarat, de 2003 à 2015.</p>
                                    </div>
                                    <div class="hello-park mb-2">
                                        <h5>Horaire du Travaille</h5>
                                        <div class="table-responsive">
                                            <table class="table mb-0 border-0 custom-table profile-table">
                                                <thead>
                                                    <th>Jour</th>
                                                    <th>heure Debut</th>
                                                    <th>Heure Fin</th>
                                                    <th>disponible</th>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let dispo of listdisponibilites">
                                                        <td> {{dispo.jour}} </td>
                                                        <td> {{dispo.heureDebut}}</td>
                                                        <td> {{dispo.heureFin}}	</td>
                                                        <td>
                                                            <button class="custom-badge status-green ">Disponible</button>
                                                        </td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="hello-park mb-2">
                                        <h5>Rendez vous Aujourd'hui</h5>
                                        <div class="table-responsive">
                                            <table class="table mb-0 border-0 custom-table profile-table">
                                                <thead>
                                                    <th>#ID</th>
                                                    <th>Nom Patient</th>
                                                    <th>Motif</th>
                                                    <th>Status</th>

                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let rendezvous of listrendezVous">
                                                        <td> {{rendezvous.id}} </td>
                                                        <td> {{rendezvous.patientName}} 	</td>
                                                        <td> {{rendezvous.motif}} 		</td>
                                                        <td [ngClass]="{
                                                          'status-en-attente': rendezvous.statut === 'EN_ATTENTE',
                                                          'status-valide': rendezvous.statut === 'VALIDE'
                                                        }">
                                                          {{ rendezvous.statut }}
                                                        </td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
























  <!--  modal demande rendezvous-->
  <div class="modal fade" id="addrendezvous" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content ">
        <div class="modal-header">
          <h5 class="modal-title" id="modalLabel">Rendez Vous</h5>
          <button type="button" #closemodal class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form *ngIf="renderVousForm" [formGroup]="renderVousForm">


            <div class="mb-3">
              <label for="firstName" class="form-label">DateDemande : </label>
              <input type="date" formControlName="dateDemande" name="dateDemande" id="dateDemande" class="form-control" placeholder="dateDemande">
            </div>

            <div class="mb-3">
              <label for="firstName" class="form-label">DateRendezvou : </label>
              <input type="date" formControlName="dateRendezVous" name="dateRendezVous" id="dateRendezVous" class="form-control" placeholder="dateRendezVous">
            </div>



            <div class="mb-3">
              <label for="password" class="form-label">Motif:</label>
              <textarea formControlName="motif" name="motif" id="motif" class="form-control" placeholder="motif">
              </textarea>
            </div>
            <button (click)="demandeRendezVous()" class="btn btn-success w-100">ADD</button>
          </form>
        </div>
      </div>
    </div>
  </div>
